
// ********TYPOGRAPHY*********
@use "variables/typography.scss" as typo;

// *********TAILWIND********
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


// ********STYLES PERSONALIZATE**********
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: typo.$main-family-regular, sans-serif;
}
