@if (isAuth ) {

<div>
  <div class="mat-drawer-side">
    <mat-toolbar
      class="flex justify-between items-center dark:bg-gray-800 dark:text-white"
    >
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex items-center">
        @if (darkMode()) {
        <img
          src="assets/logo-cheethakademy_dark.png"
          alt="img"
          class="w-12 h-12 inline mr-2 transition-opacity ease-in duration-700"
        />
        } @else {
        <img
          src="assets/logo-cheethakademy.png"
          alt="img"
          class="w-12 h-12 inline mr-2 transition-opacity ease-in duration-700"
        />
        }

        <h1 class="cheeth-sidenav">CheethAkademy</h1>
        <button
          class="flex transition-transform hover:scale-125 align-middle ml-2"
          (click)="darkMode.set(!darkMode())"
        >
          @if(!darkMode()) { <span class="material-icons">dark_mode</span> }
          @if(darkMode()) {<span class="material-icons">light_mode</span>}
        </button>
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="custom-class">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">
          <mat-icon>dialpad</mat-icon>
          Vertebrates
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuraciones</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>dialpad</mat-icon>
          <span>Setting</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>backspace</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item>Fishes</button>
        <button mat-menu-item>Amphibians</button>
        <button mat-menu-item>Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container
      class="sidenav-container dark:bg-gray-900 dark:text-white"
    >
      <mat-sidenav
        class="dark:bg-gray-800 dark:text-white"
        opened
        mode="side"
        [style.width]="sidenavWidth()"
      >
        <app-sidenav [collapsed]="collapsed()"></app-sidenav>
      </mat-sidenav>

      <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
} @else {
<router-outlet></router-outlet>
}
