@if (isAuth ) {
<div>
  <div class="cheeth-container">
    <mat-toolbar
      color="primary"
      class="example-toolbar flex justify-between items-center"
    >
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="cheeth-sidenav">Responsive App</h1>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">
          <mat-icon>dialpad</mat-icon>
          Vertebrates
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuraciones</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>dialpad</mat-icon>
          <span></span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>backspace</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item>Fishes</button>
        <button mat-menu-item>Amphibians</button>
        <button mat-menu-item>Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-sidenav [collapsed]="collapsed()"></app-sidenav>
      </mat-sidenav>

      <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
} @else {
<router-outlet></router-outlet>
}
