<div class="cheeth-container" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="cheeth-sidenav">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
      <app-sidenav [collapsed]="collapsed()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
