$main-family: 'Poppins';
$google-font: 'Roboto', sans-serif;

$main-family-black: '#{$main-family}-Black'; // Poppins-Black
$main-family-black-italic: '#{$main-family}-BlackItalic';
$main-family-bold: '#{$main-family}-Bold';
$main-family-bold-italic: '#{$main-family}-BoldItalic';
$main-family-extra-bold: '#{$main-family}-ExtraBold';
$main-family-extra-bold-italic: '#{$main-family}-ExtraBoldItalic';
$main-family-regular: '#{$main-family}-Regular';
$main-family-semi-bold: '#{$main-family}-SemiBold';